  <nav class="navbar fixed-top navbar-custom navbar-light navbar-expand-md justify-content-between" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="{{url_for("quiz.quiz")}}">
      MELTDOWN
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a class="navbar-brand" href="{{url_for("quiz.quiz")}}">
          <img class="ml-3" src="{{asset_url_for('img/socket.png') }}" height='58 px' alt="socket" />
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="https://www.rethinkrisk.net/meltdown"
                class="nav-link">About the Book</a></li>
        <li class="nav-item"><a href="https://www.rethinkrisk.net/buythebook" class="btn btn-primary ml-3">Order</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </nav>
